.about-banner{
    margin-top: 0px;
    background-image : linear-gradient(to bottom, rgba(0, 0, 0, 0.208), rgba(0, 0, 0, 0.379)), url(../../../assets/flowers.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 55vh;
    z-index: -1;
    font-family: Monda;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100vw !important;
}
.about-banner-h2{
    color: azure;
}

.about-banner-p{
    color: azure;
}