.contact-banner{
    margin-top: 0px;
    width: 100%;
    background-image : linear-gradient(to bottom, rgba(0, 0, 0, 0.208), rgba(0, 0, 0, 0.379)), url(../../../assets/team.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    min-height: 55vh;
    z-index: -1;
    font-family: Monda;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.contact-banner-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 55vh;
    width: 100%;
    margin: auto;
    background: url(http://s14.directupload.net/images/111129/44ga9qid.png);
}

.contact-banner-h2{
    color: azure;
}

.contact-banner-p{
    color: azure;
}