.footer{
    min-height: 65vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.877)), url(../../assets/truck\ 2.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.the-footer{
    width: 85%;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.footer-left{
    color: white;
    width: 30%;
}

.footer-logo{
    display : flex;
    justify-content: space-around;
    align-items: center;
}

.footer-socials{
    display : flex;
    justify-content: space-around;
    align-items: center;
}

.footer-logo-p{
    font-family: Monda;
    font-size: 16px;
}

.footer-middle{
    color: white;
}

.footer-middle-li{
    list-style: none;
    font-family: Monda;
}


.footer-right{
    color: white;
    width: 30%;
}

.footer-links{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: Monda;
    font-size:16px
}

.footer-links-row{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-right-li{
    list-style: none;
}

.copyright{
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.767);
    color: white;
    font-family: Monda;
}

@media (max-width: 1000px){
    .the-footer{
        display : flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-left{
        width: 85vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-logo{
        display : flex;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 10px;
    }
    .footer-socials{
        display : flex;
        justify-content: space-around;
        width: 100%
        
    }
    .footer-middle{
        width: 85vw;
        display: flex;
        flex-direction: column;
        align-items: center !important;
        padding: 0%;
    }
    .footer-right{
        width: 85vw;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .footer-links{
        display : flex;
        justify-content: space-around;
        width: 100%;
    }
}