.flower{
    width: 85%;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flower-upper{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flower-h3{
    color: #2b52ff;
}

.flower-p{
    font-family: Monda;
}

.flower-content{
    width: 90vw;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center

}

.flower-row{
    display : flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.flower-image{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 280px;
    height: 280px;
    border-radius: 5px;
    filter: drop-shadow(2px 2px 5px rgb(80, 80, 80))
}

@media (max-width: 1000px){
    .flower{
        width: 100vw !important;
    }
    .flower-content{
        width: 100% !important;
    }
    .flower-row{
        display : flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 85vw;
        margin: auto;
    }
}