.statements{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.308), rgba(0, 0, 0, 0.63)), url(../../../assets/ship\ 2.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.statements-content{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statements-content-upper{
    color: azure;
}

.statements-upper-p{
    font-family: Monda;
    font-size: 22px;
}

.statements-content-text{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.statements-content-mission{
    min-height: 50vh;
    width: 430px;
    color: white;
    background-color: rgba(0, 0, 0, 0.603);
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 5px, 6px, 10px, rgb(122, 122, 122);
    padding: 10px;
}

.statements-p{
    font-family: Monda;
    font-size: 20px;
}

@media (max-width: 1000px){
    .statements-content-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85vw;
    }
    .statements-content-mission{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}